/*Your styles*/

body {
  margin: 5px 10px 10px 10px;
}

#content {
  margin-right:   auto;
  margin-left:    auto;
  vertical-align: middle;
  width:          100%;
}

input {
  box-sizing: border-box;
  display:    inline-block;
}

.block {
  margin-bottom: 3px;
  width:         360px;
}

.hostTextarea {
  border:      1px solid;
  width:       37px;
  height:      20px;
  display:     inline-block;
  font-weight: bold;
  text-align:  center;
  border:      1px solid;
  margin:      1px 0;
  box-sizing:  border-box;
}

.label {
  border:          none;
  width:           37px;
  heigh:           20px;
  display:         inline-block;
  text-align:      center;
  font-weight:     bold;
  text-decoration: underline;
}

.top-label {
  font-weight: bold;
  font-size:   1.1em;
}

.hostButton {
  border:         1px solid;
  border-radius:  2px;
  height:         20px;
  vertical-align: bottom;
  font-family:    inherit;
  color:          inherit;
  font-size:      inherit;
}

.float-right {
  float: right;
}

#btn_ok {
  width:        70px;
}
